 body,html{
      height: 3140px;
      max-width: 1440px;
      padding: 0;
      margin: auto;
}


h2{
    min-width: 286px;
    height: 28px;
    padding-left: 120px;
    font-family: 'Lato';
}


.main_body {

   display: flex;
   padding: 0;
   margin-top: 20px;
   margin-bottom: 550px;
   flex-direction: column;
   background-color: white;
   height: 80%;
   justify-content: space-between;
}

#box1{
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      height: 288px;
      color: white;
      font-family: 'Noto Sans';
      padding-left: 0px;
}
#grp1{
      align-self: flex-start;
      font-size: 20px;
      margin-left: 120px;
}

#grp2{
      align-self: center;
      margin-top: 60px;
      margin-left: -140px;
      font-size: 28px;
      font-family: 'Lato';
      
}
#grp3{
      margin-left: -210px;
      margin-bottom: 20px;
}

#para1{
      width: 1200px;
      height: 80px;
      margin: auto;
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: 'Noto Sans';
}
#head1{
      width: 286px;
      height: 28px;
      margin-top: -40ppx;
}
#box2{
      margin-top: -390px;
      margin-bottom: 0px;

}
.info{
      margin-top: 30px;
      
}

.name{
      font-family: 'Lato';
}
.pjl{
      font-family: 'Noto Sans';
}


.blue_panel{

      width: auto;
      height: 215px;
      background-color: rgba(81, 131, 184, 1)

}

.images{
      display: flex;
      height: 466px;
      justify-content: space-around;
      align-items: center;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 100px;
}
.images2{
      display: flex;
      height: 466px;
      justify-content: space-around;
      align-items: flex-end;
      z-index: 2;
      margin-bottom: -240px;
}
.images3{
      display: flex;
      height: 466px;
      align-items: flex-end;
      justify-content: space-around;
      z-index: 2;
      margin-bottom: -240px;
}


.infos{
      display: flex;
      justify-content: space-around;
}
.infos2{
      display: flex;
      justify-content: space-around;
}
.infos3{
      display: flex;
      justify-content: space-around;
}
.yellow_line{
       width: 133px;
       height: 4px;
       margin-left: 20px;
       background-color: rgb(255, 213, 61,1);
}




h3{
      font-size: 20px;
}
h4{
      font-size: 16px;     
}
.pjl{
      margin-left: 10px;
      font-weight: lighter;
}
.icons{
      width: 100px;
      height: 24px;
      margin-left: 40px;
      margin-top: 20px;

}

#head2{
      width: 286px;
      height: 28px;
}



#header{
      display: flex;
      justify-content: space-between;
}

#iitr_logo{
 
       width: 431.25px;
       max-height: 60px;
       padding-top: 40px;
       padding-left: 120px;     

}

#leng{
      display: flex;
      justify-content: space-between;
      width: 220px;
      margin-right: 120px;
      margin-top: 40px;
}
#leng2 a{
      color: black;
      text-decoration: none;
}
#leng2{
       display: flex;
       justify-content: space-between;
       width: 220px;
}

#box3{
      margin-top: -50px;
}

#box4{
      margin-top: -50px;
}


#single_line{
      width: 1200px;
      height: 0px;
      margin: auto;
      margin-top: 90px;
      align-self: center;
      border: solid 1px rgb(128, 179, 217 ,1);
}

#navbar{
        display: flex;
        justify-content: center;
        width: 1200px;
        height: 18px;
        margin: auto;
        margin-top: 21px;
        font-family: 'Lato';
}
.navigationbar{
      display: flex;
      justify-content: space-between; 
      width: 1200px;
      align-items: center;
}
.navigationbar a{
      color: black;
      text-decoration: none;
}
#bottom_links{
      display: flex;
      justify-content: space-around;
      margin-bottom: 0px;
      margin-top: -500px ;
      font-family: 'Noto Sans';

}

#quick_actions{
      display: flex;
      flex-direction: column;
      height: 250px;
      justify-content: space-between;

}
#quick_actions a{
     color: black;
     text-decoration: none;
}

#rect{
      width: 280px;
      height: 172px;
      background-color: grey;
}

#copyright{
      padding-left: 122px;
      align-self: stretch;
      height: 36px ;  
      color: white;
      background-color: rgb( 35,35 ,35,1);
} 

#privacy_policy{
      padding: 0;
      align-self: stretch;
      height: 36px;
      background-color: rgb( 231,231 ,231,1);

}
.image{
      position: relative;
      max-width: 100%;
}
.image img.colored{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      object-fit: contain;
      opacity: 0;

}
.image:hover img.normal{
      opacity: 0;
}
.image:hover img.colored{
      opacity: 1;
}
#header{
      font-family: 'Noto Sans';
}
.sidebar{
      position: fixed;
      top: 0; 
      right: 0;
      height: 100vh;
      width: 250px;
      background-color: rgba(81, 131, 184, 1);
      list-style: none;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      font-family: 'Lato';
    }
    
    .sidebar a{
      width: 100%;
      color: black;
      text-decoration: none;
    }
  
    #closebutton{
      margin-left: 10px;
      align-self: flex-start;
    }
  
    #menubutton{
      display: none;
      position: absolute;
      top: 60px;
      left: 50px;
    }



.main_body_mobile{
      display: none;
}
@media(max-width: 800px){
      .navigationbar{
        display: none;
      }
      .main_body{
            display: none;
      }
      #bottom_links{
            display: none;
      }
      #menubutton{
        display: block;
      }
      .main_body_mobile{
            display: flex;
            flex-direction: column;
      }
    }


.intro{
    
      display: flex;
      flex-direction: column;
      color: white;
      font-family: 'Noto Sans';
      padding-left: 50px;
      background-color: rgba(81, 131, 184, 1);
      


}

#grp2m{

      font-size: 30px;
      font-weight: 20;
      margin-top: 30px;
      margin-bottom: -25px;
     
      


}

#para1m{
       
      font-family: 'Lato';
      font-size: 18px;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 30px;


}
#para3m{
       margin-bottom: 20px;
}
.designers{
       
      font-family: 'Noto Sans';
      margin-left: 50px;
      font-size: 25px;
      font-weight: normal;

}

/* .person{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       flex-wrap: nowrap;
} */
.outer{
       display: grid;
       grid-template: 1fr/1fr;
       place-items: center;
}

.outer > * {
      grid-column: 1/1;
      grid-row: 1/1;
}

.outer .backgroundm{
      z-index: 1;
}

.outer .person{
       z-index: 2;
}

.backgroundm{


      background-color: rgba(81, 131, 184, 1);
      opacity: 1;
      height: 250px;
      width: 100%;

}

#bottom_linksm{
      display: flex;
      flex-wrap: wrap;
      padding-left: 50px;
      padding-right: 50px;
      justify-content: space-between;
      margin-top: 50px;
}

.infom{
       margin-top: -40px;
       margin-left: 80px;
}



