 body,html{
      height: 3140px;
      width: 1440px;
      padding: 0;
      margin: auto;
}


h2{
    min-width: 286px;
    height: 28px;
    padding-left: 120px;
}


.main_body {

   display: flex;
   padding: 0;
   margin-top: 20px;
   margin-bottom: 550px;
   flex-direction: column;
   background-color: white;
   height: 80%;
   justify-content: space-between;
}

#box1{
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      height: 288px;
      color: white;
      font-family: 'Noto Sans';
      padding-left: 0px;
}
#grp1{
      align-self: flex-start;
      font-size: 20px;
      margin-left: 120px;
}

#grp2{
      align-self: center;
      margin-top: 60px;
      margin-left: -140px;
      font-size: 28px;
      
}
#grp3{
      margin-left: -210px;
      margin-bottom: 20px;
}

#para1{
      width: 1200px;
      height: 80px;
      margin: auto;
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: 'Noto Sans';
}
#head1{
      width: 286px;
      height: 28px;
      margin-top: -40ppx;
}
#box2{
      margin-top: 0px;
}
.blue_panel{

      width: auto;
      height: 215px;
      background-color: rgb(81, 131, 184);

}

.images{
      display: flex;
      height: 466px;
      justify-content: space-around;
      align-items: center;
      z-index: 2;
      margin-bottom: -290px;
}
.images2{
      display: flex;
      height: 466px;
      justify-content: space-around;
      align-items: flex-end;
      z-index: 2;
      margin-bottom: -240px;
}
.images3{
      display: flex;
      height: 466px;
      align-items: flex-end;
      justify-content: space-around;
      z-index: 2;
      margin-bottom: -240px;
}


.infos{
      display: flex;
      justify-content: space-around;
}
.infos2{
      display: flex;
      justify-content: space-around;
}
.infos3{
      display: flex;
      justify-content: space-around;
}
.yellow_line{
       width: 133px;
       height: 4px;
       margin-left: 20px;
       background-color: rgb(255, 213, 61,1);
}




h3{
      font-size: 20px;
}
h4{
      font-size: 16px;     
}
.pjl{
      margin-left: 10px;
      font-weight: lighter;
}
.icons{
      width: 100px;
      height: 24px;
      margin-left: 40px;
      margin-top: 20px;

}



#head2{
      width: 286px;
      height: 28px;
}



#header{
      display: flex;
      justify-content: space-between;
}

#iitr_logo{
 
       width: 431.25px;
       max-height: 60px;
       padding-top: 40px;
       padding-left: 120px;     

}

#leng{
      display: flex;
      justify-content: space-between;
      width: 220px;
      margin-right: 120px;
      margin-top: 40px;
}
#leng2 a{
      color: black;
      text-decoration: none;
}
#leng2{
       display: flex;
       justify-content: space-between;
       width: 220px;
}


#single_line{
      width: 1200px;
      height: 0px;
      margin: auto;
      margin-top: 90px;
      align-self: center;
      border: solid 1px rgb(128, 179, 217 ,1);
}

#navbar{
        display: flex;
        justify-content: center;
        width: 1200px;
        height: 18px;
        margin: auto;
        margin-top: 21px;
}
.navigationbar{
      display: flex;
      justify-content: space-between; 
      width: 1200px;
      align-items: center;
}
.navigationbar a{
      color: black;
      text-decoration: none;
}
#bottom_links{
      display: flex;
      justify-content: space-around;
      margin-bottom: 0px;
      margin-top: -500px ;

}

#quick_actions{
      display: flex;
      flex-direction: column;
      height: 250px;
      justify-content: space-between;

}
#quick_actions a{
     color: black;
     text-decoration: none;
}

#rect{
      width: 280px;
      height: 172px;
      background-color: grey;
}

#copyright{
      padding-left: 122px;
      align-self: stretch;
      height: 36px ;  
      color: white;
      background-color: rgb( 35,35 ,35,1);
} 

#privacy_policy{
      padding: 0;
      align-self: stretch;
      height: 36px;
      background-color: rgb( 231,231 ,231,1);

}

